/*color pallate:  */
/*dark moss green - #606C38*/
/*Pakistan green - #283618*/
/*Cornsilk - #FEFAE0*/
/*Earth yellow - #DDA15E*/
/*Tiger’s Eye - #BC6C25*/
body{
    background-image: url("../Builde/gulskogen-skole-2019.png");
    background-color: #BC6C25;
}
.tittel{
    display:inline
}
h1.tittel{
    text-align: center;
}
.legend{
    background-color: #FEFAE0;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.fieldsets{
    background-color: #FEFAE0;
    color: black;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.datoe{
    text-align: right;
    padding-right: 100px;
    padding-bottom: 10px;
}
.event{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.homebar{
    background-color: #BC6C25;
    position: fixed;
    right: 50px;
    height: 30px;
    border: white;
    border-radius: 10px;
    border-style: ridge;
    font-size: 16px;
}
a.homolinks:link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    text-align: center;
}
a.homolinks:hover{
text-decoration: underline;
}
a.homolinks:visited {
    color: white;
}
a.homolinks:active {
    color: white;
}
.patch-notes{
    width: 50%;
    display: inline-block;
    float: left;
}

.contactparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ContactTit { grid-area: 1 / 1 / 2 / 6; }
.CONdiv1 { grid-area: 2 / 1 / 3 / 2; }
.CONdiv2 { grid-area: 2 / 2 / 3 / 3; }
.CONdiv3 { grid-area: 2 / 3 / 3 / 4; }
.fakau { grid-area: 3 / 1 / 2 / 6; }
.fieldsetsBIG{
    background-color: #FEFAE0;
    color: black;
    margin-left: 100%;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #BC6C25;
    color: white;
    text-align: center;
  }
a.footer:visited {
    color: white;
}
a.footer:active {
    color: white;
}